<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ate-fat-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/165c61d5-22dc-4221-ad4d-fde9e346a884/resourceGroups/ATE-FAT-rg/providers/Microsoft.Web/sites/ATE-FAT-func</ResourceId>
    <UserName>$ATE-FAT-func</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://ate-fat-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>